@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
}
body {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    color: rgb(249, 248, 248);
    font-size: 20px;
}
a {
    text-decoration: none;
}
img{
    max-width: 100%;
}
.wrapper{
    background: linear-gradient(90deg,rgba(20, 151, 227, 1) 100%);
    width: 100%;
}
.container{
    width: 1200px;
    margin: 0 auto;
}
header{
    padding: 50px 0;
}
header.logo {

    text-transform: uppercase;
    font-size: 60px;
    font-weight: 120;
}
header nav{
    float: right;
    width: 50%;
}
header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
header nav ul li {
    display: inline-block;

}
header nav ul li a{
    color: #fff;
}
header nav ul li.active a::after{
    content: '';
    display: block;
    width: 40px;
    height: 5px;
    background: #18CF0E;
    border-radius: 10px;
    position: relative;
    top: 10px;
    left: -15px;
}
header nav ul li:not(.active) a:hover{
    border-bottom: 7px solid #18CF0E;
}
header nav ul li.button a{
    background: #18CF0E;
    padding: 9px 17px;
    border-radius: 7px;
    transition: all 0.5s ease;
}
header nav ul li.button a:hover {
    background: #078C00;
}
.wrapper .form-group {
    width: 100%;
    height: 50px;
    margin: 30px 0;
}
.form-group input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid #07fd13;
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 2px 0px 0px 15px;
}
.form-group input::placeholder{
    color: #fff;
}
.form-group i{
    position: absolute;
    right: 545px;
    transform: translateY(-185%);
    font-size: 20px;
}
footer{
    padding: 50px 0;
    background: black;
}
footer .blocks{
    display: flex;
    justify-content: space-around;
    background: black;
}
footer .blocks .logo {
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 120;
    background: black;
}
footer .blocks ul{
    list-style: none;
    background: black;
}
footer .blocks ul li{
    margin-top: 7px;
    opacity: 0.8;
    background: black;
}
footer .blocks p{
    width: 300px;
    margin: 15px 0;
    background: black;
}
footer .blocks h4{
    font-weight: 800;
    font-size: 17px;
    background: black;
}

footer hr{
    margin: 30px 0;
    border: 0;
    height: 0.4px;
    background: darkgray;
}
footer > p{
    text-align: center;
    font-size: 10px;
    background: black;
}